<div class="container">
  <h1>A PALACE OF QUOTES</h1>
  <P>Get in add your quote about success, love, life and get to insipire the
    world</P>
  <hr />

  <div class="row">
    <div class="col-md-6">
      <div *ngFor="let quote of quotes; let i = index">
        <div>
          <h4 id="{{ i }}" appHighlight>
            {{ quote.name }} due on {{ quote.completeDate | date | uppercase }}
          </h4>
          <button (click)="toggleQuotes(i)" class="btn btn-info">
            Toggle Quotes
          </button>
        </div>

        <div *ngIf="quote.showDescription">
          <app-quote-details [quote]="quote" (isComplete)="deleteQuote($event, i)"></app-quote-details>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <app-quote-form (postQuote)="postNewQuote($event)"></app-quote-form>
    </div>
  </div>

  <p *ngIf="quotes.length > 10">You keep going</p>
</div>
