* {
    box-sizing: border-box;
}
.quote {
    font-weight: 600;
}

.container {
    background-color:grey;
    font-style: italic;
    margin-top: 50px;
}


.footer {
    padding-top: 15px;
    font-style: italic;
}