<div class="container-fluid">
  <h2 class="text-center">Share your Inspirational quotes</h2>
  <hr>
  <form (ngSubmit)='postQuote() ' #quoteForm='ngForm'>
    <div class="form-group">

      <label for="name">Author</label>
      <input type="text" class="form-control" id="author" [(ngModel)]="quoted.author" name="author" #author="ngModel"
        required>

    </div>
    <div class="form-group">

      <label for="description">Quote</label>
      <input type="text" class="form-control" id="quote" [(ngModel)]="quoted.description" name="quote" #quote="ngModel" height="4rem"
        required>

    </div>

    <div class="form-group">
      <label for="name">Posted by</label><br>
      <input type='text' class="form-control" id="submit" id="name" [(ngModel)]="quoted.name" name="name" #name='ngModel' required>

    </div>
    <button type="submit" class="btn btn-outline-success">Post Quote</button>
  </form>
 
</div>
